{% extends "AdmingeneratorGeneratorBundle::base_admin.html.twig" %}
{#{% extends "AdmingeneratorGeneratorBundle::base_admin_assetic_less.html.twig" %}#}

{% block footer %}
    <footer>
        <hr>
        <p>{% block footer_text %}
                &copy; Silicon Systems {{ ("now"|date('Y') > 2012) ? '2012 - ' ~ "now"|date('Y') : '2012' }}
            {% endblock %}</p>
    </footer>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}   {# remove this line if you're not extending another template #}

    {% include 'AvocodeFormExtensionsBundle::stylesheets.html.twig' %}
    {% if form is defined %}
        {{ form_stylesheet(form) }}
    {% endif %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}   {# remove this line if you're not extending another template #}

    {% include 'AvocodeFormExtensionsBundle::javascripts.html.twig' %}
    {% if form is defined %}
        {{ form_javascript(form) }}
    {% endif %}
{% endblock %}

{% block navbar %}
    {% include 'SSystemsBackendBundle:Backend:admin_navbar.html.twig' %}
{% endblock navbar %}