{% extends 'EstocBundle::layout.html.twig' %}

{% block content %}
    <form method="post" action="{{ path('clientRegister') }}" class="pure-form pure-form-stacked collaborator register">

        <fieldset class="pure-group">
            <div class="pure-g">
                <div class="pure-u-1-2 margin-column-left">
                    {{ form_row(form.clientProfile.firstname) }}
                </div>
                <div class="pure-u-1-2 margin-column-right" id="last-name">
                    {{ form_row(form.clientProfile.lastname) }}
                </div>
            </div>
            <div>
                {{ form_row(form.email) }}
            </div>
        </fieldset>

        <fieldset class="pure-group">
            <div>
                {{ form_row(form.username) }}
            </div>
            <div>
                {{ form_row(form.plainPassword) }}
            </div>
        </fieldset>

        <fieldset class="pure-group">
            <div>
                {{ form_row(form.clientProfile.business) }}

            </div>
            <div>
                {{ form_row(form.clientProfile.phone) }}

            </div>
            <div class="pure-g">
                <div class="pure-u-1-2">
                    {{ form_label(form.clientProfile.city) }}
                    {{ form_widget(form.clientProfile.city) }}
                </div>
                <div class="pure-u-1-2">
                    <div class="center-button">
                        <input class="pure-button pure-button-primary register-btn" type="submit" value="REGISTRARSE">
                    </div>
                </div>
            </div>
        </fieldset>
        <p class="disclaimer"><span class="mandatory">SE NECESITA INTRODUCIR TODOS LOS CAMPOS</span>
            Al hacer click en registrar acepta los términos y condiciones y la política de privacidad de ESTOC.</p>
        {{ form_rest(form) }}
    </form>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/main.css') }}">
    <link rel="stylesheet" href="{{ asset('js/colorbox/example5/colorbox.css') }}">
{% endblock %}